.ipynb_checkpoints 
__pycache__
cat_or_non_cat/datasets
cifar-10-batches-py
coursera/1.1_1Dtensors_v2.ipynb
coursera/1.1_2\ Two-Dimensional\ Tensors_v2.ipynb
coursera/learning_tensors.ipynb
coursera/.ipynb_checkpoints
coursera/1.2derivativesandGraphsinPytorch_v2.ipynb
idc_regular_ps50_idx5
BreaKHis_v1
Handwritting
intro_histopathology/best_model.h5